@import 'colors';

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 5%;
  background-color: $navbar-background-color;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  
  .logo h1 {
    font-size: 1.8rem;
    font-weight: bold;
    color: white;

    span {
      color: $secondary-color;
    }
  }

  .nav-links {
    display: flex;
    gap: 1.5rem;
    list-style: none;

    li {
      display: inline;

      a {
        color: white;
        text-decoration: none;
        font-size: 1rem;

        &:hover {
          color: $secondary-color;
        }
      }
    }
  }

  .login-button {
    @include button-style(white, $secondary-hover-color);
  }
}
