$primary-color: #FF5722;
$primary-hover-color: #E64A19;
$secondary-color: #00BCD4;
$secondary-hover-color: #0097A7;
$navbar-background-color: #212121;
$hero-background-color: #1C1C1C;
$footer-background-color: #333333;
$footer-text-color: #BDBDBD;
$body-bg-color: #F5F5F5;
$text-color: #333333;
$text-light-color: #757575;
$card-bg-color: #FFFFFF;
$light-background: #F5F5F5; 

