body {
  font-family: 'Helvetica Neue', 'Helvetica', sans-serif;
}

.socialmediaicons ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.socialmediaicons ul li {
  display: inline-block;
  margin-left: 5px;
}

.socialmediaicons ul li img {
  width: 30px;
  border-radius: 50%;
}

.socialmediaicons {
  text-align: center;
}

h2 {
  text-align: center;
  color: #333;
  margin-top: 20px;
}

button {
  padding: 10px 20px;
  border: none;
  border-radius: 3px;
  font-size: 14px;
  cursor: pointer;
}

button#add {
  background-color: #4CAF50;
  color: white;
  margin-left: 20px;
}

button:disabled {
  background-color: gray;
  cursor: not-allowed;
}

button#button.enabled {
  background-color: orange;
  border-color: orange;
}

.dropDownTextArea {
  display: none;
}

.alert {
  padding: 10px;
  background-color: #f44336;
  color: white;
  margin-bottom: 15px;
}

.alert.success {
  background-color: #4CAF50;
}

.alert.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.alert.closebtn:hover {
  color: black;
}

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.4); /* Black with opacity */
}

/* Modal Content */
.modal-content {
  background-color: white;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
  border-radius: 5px;
  text-align: center;
}

/* Modal Buttons */
.modal-content button {
  padding: 10px 20px;
  margin: 10px;
  border: none;
  border-radius: 3px;
  font-size: 14px;
  cursor: pointer;
}

.modal-content button:first-of-type {
  background-color: #4CAF50; /* Update button */
  color: white;
}

.modal-content button:last-of-type {
  background-color: #f44336; /* Cancel button */
  color: white;
}

